.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #2e026d, #15162c);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form p {
  color: red !important;
  font-size: 10px;
  margin: 0 auto;
}

.input {
  width: 100%;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  color: black;
}
